.app-container {
  display: grid;
  grid-template-rows: 500px 1rf 2fr auto 1fr;
  gap: 20px;
    .title-header {
        grid-row: 1/2;
    }

    header.header-nav {
        grid-row: 2/3;
    }

    .toy-filter-container {
        grid-row: 3/4;
    }

    .toy-list {
        grid-row: 4/5
    }

    .app-footer {
        grid-row: 5/6;
    }
}