.filter-container {
    padding: block-start;
    position: sticky;
    width: 100%;
    height: 78px;
    background-color:green;    
}
.toy-filter-container {
    color: #222;
    display: grid;
        font-family: circular;
        grid-template-columns: 100%;
        line-height: 20px;
        margin-inline-end: auto;
        margin-inline-start: auto;
        max-height: 78px;
        max-height: 78px;
        max-width: 1760px;
        padding-inline-end: 80px;
        padding-inline-start: 80px;
    }

  .toy-filter-no-labels {
    align-items: center;
    margin-left: rem(20px);
    } 
    .toy-label {
        flex-wrap: wrap;
    }






.toy-btn-add {
    margin-left: rem(20px);
}

@media (max-width: 520px) {
    .toy-filter-no-labels  {
        flex-direction: column;
    }
}